/* Variables */
:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --transparent-white-30: rgba(255, 255, 255, 0.3);
    --transparent-white-50: rgba(255, 255, 255, 0.5);
    --transparent-black-30: rgba(0, 0, 0, 0.3);

    
    --light-blue: #32425C;
    --basic-blue: #293449;
    --dark-blue: #1D2739;
    --extra-dark-blue: #161D29;
    --footer-icon-blue: #212A3A;
    --services-shadow-blue: #405069;
    --icon-hover-blue: #3d546f;


    
    --basic-red: #EE3643;
    --dark-red: #CA2C37;
    --extra-dark-red: #BA2732;

    --basic-green: #63A63E;
    --bright-green: #5FBB2D;
    --dark-green: #518534;
    --shadow-green: #367315;

    --light-orange: #FFD180;
       
    --special-orange: #FFBF47;
    --special-cyan: #3BBCE3; 
    --special-lilac: #DC91D8; 
    --special-lightgreen: #8ED78F;
    
    --basic-grey: #A9A9A9;
    --transparent-grey-30: rgba(169, 169, 169, 0.3);
    --light-grey: #C5C5C5; 
    --transparent-light-grey-30: rgba(197, 197, 197, 0.3);
    --card-border-grey: #eaeaea;
       

    --background-lightpink: #F9F5F0;
    --background-lightgrey: #F1F5F7;
    --background-smokewhite: #F2F6F8;
    --background-lightrose: #F7F3EC;

    --filter-scale-color: #d7dcde;
    --filter-bar-color: #00ca74;
    --filter-toggle-color: #ababab;
    --filter-border-color: #e5e5e5;
}

/* Fonts */
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: local("Cuprum"),
         url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
  }

  @font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: local("Cuprum Bold"),
         url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
  }

  @font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: local("Cuprum Italic"),
         url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: local("Cuprum Bold Italic"),
         url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
         url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"),
         url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
  }
/* Global */
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content;
    align-content: start;
    min-width: 960px;
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);

    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

.disabled-link {
    pointer-events: none;
}

/* Header */

.header {
    background-color: var(--background-lightgrey);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    
    background-color: var(--basic-blue);
}

.header__top-wrapper {
    display: flex;
    height: 42px;
}

.header__logo {
    width: 220px;
    height: 47px;
    line-height: 50px;
    text-align: center;

    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header__logo:active {
    background-color: var(--extra-dark-red);
}

.header__search {
    position: relative;
    flex-grow: 1;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-left: 42px;
    background-color: var(--basic-blue);
    outline: none;
    border: none;
    color: var(--basic-white);
}

.search-input:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.search-button {
    position: absolute;
    top: 12px;
    left: 17px;

    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
}

.search-icon {
    opacity: 0.3;
}

.search-input:hover ~ .search-button .search-icon {
    opacity: 1;
}

.search-input:active ~ .search-button .search-icon path,
.search-input:focus ~ .search-button .search-icon path {
    fill: var(--basic-red);
}

.search-navigation {
    display: flex;
    justify-content: flex-end;
}

.search-navigation a {
    display: block;
    box-sizing: border-box;
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;

    color: var(--basic-white);
}

.search-navigation a:active {
    color: var(--transparent-white-50);
}

.header__bookmarks {
    position: relative;
    padding-left: 43px;
}

.header__bookmarks::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 14px;
    left: 20px;
    top: 13px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.header__cart {
    position: relative;
    padding-left: 49px;
}

.header__cart::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 26px;
    top: 13px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.header__bookmarks:hover::before,
.header__cart:hover::before {
    opacity: 1;
}

.header__bookmarks:active,
.header__cart:active {
    background-color: var(--extra-dark-blue);
}

.header__bookmarks:active::before,
.header__cart:active::before {
    opacity: 0.3;
}

/* При добавлении товара в корзину или в закладки */

.full {
    background-color: var(--basic-red);
}


.header__order {
    text-align: center;
    background-color: var(--basic-green);
}

.header__order:hover {
    background-color: var(--bright-green);
}

.header__order:active {
    background-color: var(--basic-green);
}

.header__wrapper-inner {
    padding-bottom: 60px;
}

.header__middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 46px;
    padding-bottom: 40px;
}

.header__description {
    margin: 0;
    padding-left: 30px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header__phone {
    position: relative;
    display: inline-block;
    padding: 7px 45px 8px 74px;
    margin-bottom: 3px;

    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    outline: 3px solid var(--basic-white);
    outline-offset: -3px;
}

.header__phone::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;
    width: 18px;
    height: 19px;

    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

.header__adress {
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--light-blue);
}

/*Пользовательский блок */

.account {
    display: flex;
    justify-content: flex-end;
}

.account__link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 21px;
    line-height: 21px;
    
    color: var(--basic-black);
    background-color: var(--basic-white);
    
}

.account__link:hover:not(.account__link--username) {
    color: var(--basic-red);
}

.account__link:active {
    color: var(--light-grey);
}

.account__link--login {
    padding-left: 20px;
    padding-right: 27px;
    margin-right: 10px;
}

.login-icon {
    margin-right: 6px;
}

.account__link:hover path {
    fill: var(--icon-hover-blue);
}

.account__link:active path {
    fill: var(--light-grey);
}

.account__link--register {
    padding-left: 24px;
    padding-right: 24px;
}

.account__link--username {
    padding-left: 15px;
}

.username-icon {
    margin-right: 21px;
}

.account__link--logout { 
    padding-left: 20px;
    padding-right: 17px;
    font-size: 0;
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    margin: 7px 45px 0 0;
    padding: 0;

    list-style: none;
}

.user-navigation__item + .user-navigation__item {
    position: relative;
    margin-left: 32px;
}

.user-navigation__item::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 8px;
    left: -18px;
    border-radius: 50%;
    background-color: var(--light-blue);
}

.user-navigation__link {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: var(--light-blue);
}

.user-navigation__link:hover {
    color: var(--basic-red);
}


.user-navigation__link:active {
    color: var(--light-grey);
}

/* Site-navigation */

.header__navigation {
    background-color: var(--light-blue);
    box-shadow: inset 0px -5px 0px var(--basic-blue);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 25px;
    margin: 0;
    list-style: none;
  }

.site-navigation li {
    flex-grow: 1;
    text-align: center;
        
}

.site-navigation a {
    display: block;
    color: var(--basic-white);
    padding: 16px 28px 20px;
    
}

.site-navigation a:hover {
    background-color: var(--basic-blue);
}

.site-navigation a:active {
    background-color: var(--dark-blue);
    color: var(--transparent-white-50);
}

/* Button */

.button {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.button:hover {
    background-color: var(--dark-red);
}

.button:active {
    background-color: var(--extra-dark-red);
}

/* Offers */

.offers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
                        "materials tools technic"
                        "slider slider sale"
                        "slider slider delivery";

    padding-top: 59px;
    padding-bottom: 59px;
}

.offers__item {
    position: relative;
    box-sizing: border-box;
    height: 123px;
    padding: 20px 30px 21px 23px;
}

.offers__item::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.offers__item--materials {
    background-color: var(--special-orange);
    grid-area: materials;
}

.offers__item--materials::after {
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-material.svg");
    background-position: 0 0;
}

.offers__item--tools {
    background-color: var(--special-cyan);
    grid-area: tools;
}

.offers__item--tools::after {
    top: 34px;
    right: 31px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-tool.svg");
    background-position: 0 0;
}

.offers__item--technic {
    background-color: var(--special-lilac);
    grid-area: technic;
}

.offers__item--technic::after {
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background-image: url("../img/icon-technic.svg");
    background-position: 0 0;
}

.offers__item--sale {
    background-color: var(--special-lightgreen);
    grid-area: sale;
}

.offers__item--sale::after {
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background-image: url("../img/icon-sale.svg");
    background-position: 0 0;
}

.offers__item--delivery {
    background-color: var(--special-orange);
    grid-area: delivery;
}

.offers__item--delivery::after {
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background-image: url("../img/icon-delivery.svg");
    background-position: 0 0;
}

.offers__item-title {
    margin: 0;
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.offers__button {
    width: 135px;

    background-color: var(--transparent-white-30);
    text-decoration: none;
}

.offers__button:hover {
    background-color: var(--transparent-light-grey-30);
}

.offers__button:active {
    background-color: var(--transparent-grey-30);
}

/*Лейбл NEW*/

.item-new {
    position: relative;
    overflow: hidden;
}

.item-new::before {
    content: "new";
    position: absolute;
    top: 7px;
    right: -26px;

    display: block;
    width: 88px;
    padding: 6px;
    
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    
    background-color: var(--basic-red);
    transform: rotate(45deg);
    text-transform: uppercase;
}

/* Slider */

.offers__slider {
    grid-area: slider;
    position: relative;
}

.slider__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider__slide {
    position: relative;
    display: none;
}

.slide-current {
    display: block;
}

.slider__slide img {
    display: block;
}

.slide__description {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 23px 24px;
}

.slide__title {
    margin: 0;
    margin-bottom: 5px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.slide__description p {
    margin: 0;
}


.catalog-button {
    width: 195px;
    position: absolute;
    bottom: 27px;
    left: 24px;
    
    width: 192px;
}

/* Next & previous buttons */

.slider__button {
    position: absolute;
    top: 122px;

    width: 22px;
    height: 40px;
    padding: 0;
    
    background-image: url("../img/icon-left.svg");
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

.slider__button--prev {
    left: 24px;
}

.slider__button--next {
    right: 20px;
    transform: rotate(180deg); 
}

.slider__dot-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;

    display: flex;
    justify-content: space-between;

    transform: translateX(-50%);
}

.slider__button--dot {
    width: 10px;
    height: 10px;
    padding: 0;
    
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 50%;

    cursor: pointer;
}

.slider__button--dot:not(:last-child) {
    margin-right: 10px;
}

.slider__button--dot.current {
    background-color: var(--basic-red);
}

/* Популярные товары */

.popular-goods__wrapper {
    padding-bottom: 70px;
}

.popular-goods__header,
.popular-brands__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--background-lightpink);
    padding-left: 28px;
    padding-right: 14px;
    
}

.section__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.popular-goods__title,
.popular-brands__title {
    padding-top: 29px;
    padding-bottom: 30px;
    margin-right: 30px;
    color: var(--light-blue);
}

.popular-goods__button,
.popular-brands__button {
    min-width: 192px;
    margin-top: 25px;
    margin-bottom: auto;
    white-space: nowrap;
    padding-top: 11px;
    padding-bottom: 9px;
    
}

.popular-goods__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

/*Карточка товара*/

.catalog__item {
    position: relative;

    width: 220px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;

    outline: 1px solid var(--card-border-grey);
    outline-offset: -1px;
}

.catalog__item-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.catalog__item-image {
    width: 220px;
    height: 177px;
    margin: 0;
    display: flex;
    margin-bottom: 3px;
}

.catalog__item-image img {
    margin: auto;
}

.catalog__item-title { 
    order: 2;
    
    margin: 0;
    padding: 0 30px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
    text-align: center;
}

.price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.old-price {
    padding: 0 30px 13px;

    text-decoration-line: line-through;
    color: var(--basic-grey);
    text-align: center;
}

.actual-price {
    position: relative;
    width: 102px;
    
    
    margin-left: 45px;
    margin-top: auto;
    padding: 10px;

    text-align: center;
    color: var(--basic-white);
    
    background-color: var(--basic-red);
    border-radius: 3px 0 0 3px;
}

.actual-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;

    border: 19px solid var(--basic-red);
    border-right-width: 0;
    border-left-color: var(--basic-red);
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* Кнопки карточек */
.catalog-item-buttons {
    position: absolute;
    top: 38px;
        
    display: none;
    align-self: center;
}

.button-buy,
.button-bookmark {
    display: block;
    width: 135px;
    height: 38px;
    padding: 0;

    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    
    border-radius: 2px;
    box-sizing: border-box;        
}

.button-buy {
    position: relative;
    padding-left: 12px;
    margin-bottom: 10px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    border: none;
      
    box-shadow: inset 0px -3px 0px var(--shadow-green);
}

.button-buy::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;

    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.button-buy:hover {
    background-color: var(--bright-green);
}

.button-buy:active,
.button-buy:focus {
    background-color:var(--dark-green);
}

.button-bookmark {
    color: var(--light-blue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
}

.button-bookmark:hover {
    border-color: var(--light-blue);
}

.button-bookmark:active,
.button-bookmark:focus {
    opacity: 0.5;
}

.catalog__item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog__item:hover .catalog-item-buttons {
    display: block;
}

.catalog__item:hover img {
    display: none;
}


/* Popular brans */

.popular-brands__wrapper {
    padding-bottom: 70px;
}

.popular-brands__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    list-style: none;
}

.popular-brands__item {
    width: 220px;
    height: 145px;
    outline: 1px solid var(--card-border-grey);
    outline-offset: -1px;
}

.popular-brands__item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands__item:active {
    opacity: 0.5;
}

.popular-brands__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Services */

.services {
    background-color: var(--background-lightgrey);
}

.services__wrapper {
    padding-top: 64px;
    padding-bottom: 99px;
}

.services__title,
.about__title,
.contacts__title {
    margin-bottom: 25px;
    color: var(--basic-black);
}

.text-content {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: var(--basic-black);
}

.services__lead {
    margin-top: 0;
    margin-bottom: 71px;
}
/* Grid for Services*/


.services__tabs {
    position: relative;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 
                    61px
                    61px
                    61px;
    row-gap: 1px;
}

.services__tabs--delivery {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.services__tabs--guarantee {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.services__tabs--credit {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/* Стили вкладок */
.services__tabs label {
    padding-top: 13px;
    padding-left: 22px;
     
    
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--light-blue);
    color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-blue),
                inset 0px 1px 0px var(--services-shadow-blue);
}

.services__tabs label:hover {
    background-color: var(--basic-blue);
    cursor: pointer;
}

.services__tabs input:checked + label {
    color: var(--light-blue);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white),
    inset 0px 1px 0px var(--basic-white);
}

.services__tabs input {
    display: none;
}

.services__tabs::after {
    content: "";
    position: absolute;
    background-image: url("../img/services-shadow.png");
    width: 10px;
    height: 279px;
    top: -49px;
    left: 230px;
}

/* Стили содержания вкладок */

.services__tab-content {
    position: relative;
    display: none;
    padding-left: 80px;
}

.tab-content__title {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-blue);
}

.tab-content__title--delivery {
    margin-bottom: 30px;
}

.tab-content__title--guarantee {
    margin-bottom: 22px;
}

.tab-content__title--credit {
    margin-bottom: 27px;
}


.services__tab-content p {
    width: 330px;
}

.services__tab-content::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.services__tab-content-1::after {
    right: 0;
    top: 22px;
    width: 468px;
    height: 261px;
    background-image: url("../img/services__delivery.png");
}

.services__tab-content-2::after {
    right: 0;
    top: -4px;
    width: 389px;
    height: 283px;
    background-image: url("../img/services__guarantee.png");
}

.services__tab-content-3::after {
    right: 0;
    top: 0;
    width: 465px;
    height: 285px;
    background-image: url("../img/services__credit.png");
}

.services__tab-content-3 p {
    margin-bottom: 26px;
}

.credit-button {
    width: 195px;
}

/* Активация вкладки */
    #tab-1:checked ~ .services__tab-content-1,
    #tab-2:checked ~ .services__tab-content-2,
    #tab-3:checked ~ .services__tab-content-3 {
    display: block;
}

.index-columns__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}


/* About */

.about {
    grid-column: 1 / 7;
}

.about__lead {
    margin: 0;
    margin-bottom: 25px;
}

.transport-companies__lead {
    margin: 0;
    margin-bottom: 3px;
}

.transport-companies__list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    

    list-style: none;
    color: var(--basic-black);
}

.transport-companies__item {
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
}

.transport-companies__item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.transport-companies__item:last-child {
    margin-bottom: 0;
}

.about__button {
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;

}

/* Contacts*/

.contacts {
    grid-column: 9 / 13;
}

.contacts__lead {
    margin: 0;
    margin-bottom: 32px;
}

.contacts__map {
    display: block;
    margin-bottom: 18px;
}

.contacts__map img {
    width: 300px;
    height: 158px;
}

.contacts__button {
    width: 100%;
}

/* Footer */

.footer__top {
    background-color: var(--light-blue);
    padding-bottom: 55px;
}

.footer__top-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 220px;
    height: 68px;
    line-height: 74px;
    text-align: center;

    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer__contacts,
.footer__phone {
    color: var(--background-lightgrey);
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 550px;
    list-style: none;
}

.footer__nav--site {
    margin-top: 37px;
}

.footer__nav--shop {
    margin-top: 27px;
}

.footer__nav li {
    margin-right: 59px;
}

.footer__nav li:last-child {
    margin-right: 0;
}

.footer__nav--site a {
    color: var(--background-lightgrey);
}

.footer__nav--shop a {
    color: var(--light-orange);
}

.footer__nav a:hover {
    text-decoration-line: underline;
}

.footer__nav a:active {
    text-decoration-line: none;
    opacity: 0.5;
}

.footer__contacts {
    margin-top: 22px;
    margin-bottom: 0;
}

.footer__bottom {
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-blue);
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    margin: 0;
    margin-top: 35px;
    min-width: 270px;
}

.footer__link {
    color: var(--light-orange);
}

.footer__link:hover {
    text-decoration-line: underline;
}

.footer__link:active {
    text-decoration-line: none;
    color: var(--basic-red);
}

.footer__social {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: flex;
}

.social__item {
    margin-right: 3px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: inline-block;
    width: 42px;
    height: 42px;

    font-size: 0;
    color: var(--basic-white);

    background-color: var(--footer-icon-blue);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    
  }
  
  .social__link:hover,
  .social__link:active {
    background-color: var(--basic-red);
  }

.social__link--vk {
    background-image: url(../img/social__icon-vk.svg);
}

.social__link--fb {
    background-image: url(../img/social__icon-fb.svg);
}

.social__link--ig {
    background-image: url(../img/social__icon-ig.svg);
    
}

.footer__feedback {
    min-width: 300px;
    margin-top: 35px;
    display: flex;
    justify-content: start;
}

.footer__feedback p {
    margin: 0;
}

.footer__feedback p:first-child {
    margin-right: 50px;
}

/* Стили для внутренней страницы каталога */

.catalog__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 20px;
    padding-bottom: 59px;
    grid-template-areas: "breadcrumbs   breadcrumbs"
                        "catalog-header catalog-header"
                        "filter         sorting"
                        "filter         catalog"
                        "   .           pagination" ;
        
}

.breadcrumbs__list {
    grid-area: breadcrumbs;
    list-style: none;
    padding: 18px 0 17px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    position: relative;
    margin-right: 41px;
}

.breadcrumbs__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -25px;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs__item a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--basic-black);
}

.catalog__header {
    background-color: var(--background-smokewhite);
    padding: 30px;
    margin-bottom: 20px;
    grid-area: catalog-header;
}

.catalog__title {
    color: var(--light-blue);
}

.filter {
    grid-area: filter;
    color: var(--basic-black);
    
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.filter__title {
    padding: 10px 18px;
    margin: 0;

    
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--background-lightrose);
}

.filter__item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter__item legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter__item--price {
    padding-bottom: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--filter-border-color);
}

.filter__item--price legend {
    padding-top: 12px;
    padding-bottom: 13px;
}

.range-controls {
    position: relative;
    padding: 39px 20px;
    margin-bottom: 9px;

    background-color: var(--background-lightrose);
    border-radius: 4px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--filter-scale-color);
}

.range-controls .bar {
    height: 2px;
    width: 75%;

    background-color: var(--filter-bar-color);
}

.range-controls .toggle {
    position: absolute;
    top: 29px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: var(--filter-toggle-color);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 0 var(--filter-toggle-color);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 135px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-controls label {
    font-size: 17px;
    line-height: 18px;
  }

.price-controls input {
    width: 95px;

    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    border: none;
    border-radius: 4px;
    background-color: var(--background-lightrose);
}

.filter__item--brands {
    padding-bottom: 26px;
    margin-bottom: 17px;
    border-bottom: 1px solid var(--filter-border-color);
}

.filter__item--brands legend {
    margin-bottom: 15px;
}

.filter__item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 15px;
    padding-left: 35px;
}

.filter-option:last-child {
    margin-bottom: 0;
}

.filter-option label {
    position: relative;
    
    font-size: 15px;
    line-height: 19px;

    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content:"";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    /*background-color: transparent;
    border: 2px solid var(--light-grey);
    border-radius: 3px;*/
}

.filter-input-checkbox:checked + label::before {
    content:"";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
}

.filter__item--power {
    margin-bottom: 37px;
}

.filter__item--power legend {
    margin-bottom: 21px;
}

.filter-input-radio + label::before {
    content:"";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 4px solid var(--light-grey);
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content:"";
    position: absolute;
    top: 6px;
    left: -27px;
    width: 9px;
    height: 9px;
    background-color: var(--light-grey);
    border-radius: 50%;
}

.filter__button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: inherit;
    border: 1px solid var(--filter-border-color);
    outline: none;
}

.filter__button:hover {
    border-color: var(--light-grey);
}

.filter__button:active,
.filter__button:focus {
    border-color: var(--basic-red);
}

.sorting {
    grid-area: sorting;
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    margin-bottom: 28px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--background-lightrose);
}

.sorting__title {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
    color: var(--basic-black);
}

.sorting ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 444px;

    list-style: none;
}

.sorting__option {
    margin-right: 40px;
}

.sorting__option:last-child {
    margin-right: 0;
}

.sorting__option label {
    color: var(--transparent-black-30);
    border-bottom: 1px dashed var(--basic-red);
    
    cursor: pointer;
}

.sorting__option:hover label {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.sorting-input-radio:checked + label {
    color: var(--basic-red);
    border-bottom: none;
}

.sorting__option .sorting-label-arrow,
.sorting__option .sorting-label-arrow:hover {
    border-bottom: none;
}

.sorting-label-arrow:hover .icon-arrow path {
    fill: var(--basic-black);
}

input:checked + .sorting-label-arrow .icon-arrow path {
    fill: var(--basic-red);
}

.icon-arrow-down {
    transform: rotate(180deg);
}

.catalog__list {
    grid-area: catalog;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 18px;
    margin: 0 0 48px 0;
    padding: 0;
}

.pagination__list {
    grid-area: pagination;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding: 0;

    list-style: none;
}

.page-button {
    box-sizing: border-box;
    display: block;
    width: 38px;
    height: 38px;
    margin-right: 10px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
    
    border: 1px solid var(--filter-border-color);
    border-radius: 2px;
}

.page-button--next {
    width: 140px;
}

.page-button:hover {
    border-color: var(--light-grey);
}

.page-button:active,
.page-button:focus {
    border-color: var(--basic-red);
}

.page-button--current {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.about-goods {
    background-color: var(--background-lightgrey);
}

.about-goods__wrapper {
    padding-top: 65px;
    padding-bottom: 69px;
}

.about-goods__title {
    color: var(--basic-black);
    margin-bottom: 25px;
}

.about-goods p {
    margin: 0;
}