/* Variables */
:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --transparent-white-30: rgba(255, 255, 255, 0.3);
    --transparent-white-50: rgba(255, 255, 255, 0.5);
    --transparent-black-30: rgba(0, 0, 0, 0.3);

    
    --light-blue: #32425C;
    --basic-blue: #293449;
    --dark-blue: #1D2739;
    --extra-dark-blue: #161D29;
    --footer-icon-blue: #212A3A;
    --services-shadow-blue: #405069;


    
    --basic-red: #EE3643;
    --dark-red: #CA2C37;
    --extra-dark-red: #BA2732;

    --basic-green: #63A63E;
    --bright-green: #5FBB2D;
    --dark-green: #518534;

    --light-orange: #FFD180;
       
    --special-orange: #FFBF47;
    --special-cyan: #3BBCE3; 
    --special-lilac: #DC91D8; 
    --special-lightgreen: #8ED78F;
    
    --basic-grey: #A9A9A9;
    --transparent-grey-30: rgba(169, 169, 169, 0.3);
    --light-grey: #C5C5C5; 
    --transparent-light-grey-30: rgba(197, 197, 197, 0.3);
    --card-border-grey: #eaeaea;
    

    --background-lightpink: #F9F5F0;
    --background-lightgrey: #F1F5F7;
    --background-smokewhite: #F2F6F8;
    --background-lightrose: #F7F3EC;
}

/* Global */
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content;
    align-content: start;
    min-width: 960px;
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);

    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

.disabled-link {
    pointer-events: none;
}

/* Header */

.header {
    background-color: var(--background-lightgrey);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    
    background-color: var(--basic-blue);
}

.header__top-wrapper {
    display: flex;
    height: 42px;
}

.header__logo {
    width: 220px;
    height: 47px;
    line-height: 50px;
    text-align: center;

    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header__logo:active {
    background-color: var(--extra-dark-red);
}

.header__search {
    flex-grow: 1;
}

.header__search input {
    background-color: var(--basic-blue);
}

.header__search input:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.search-navigation {
    display: flex;
}

.search-navigation a {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--basic-white);
}

.search-navigation a:active {
    color: var(--transparent-white-50);
}

.header__bookmarks {
    width: 120px;
    padding-left: 35px;
}

.header__cart {
    width: 100px;
    padding-left: 35px;
}

.header__bookmarks:active,
.header__cart:active {
    background-color: var(--extra-dark-blue);
}

/* При добавлении товара в корзину или в закладки */

.full {
    background-color: var(--basic-red);
}


.header__order {
    min-width: 150px;
    text-align: center;
   background-color: var(--basic-green);
}

.header__order:hover {
    background-color: var(--bright-green);
}

.header__order:active {
    background-color: var(--basic-green);
}

.header__wrapper-inner {
    padding-bottom: 60px;
}

.header__middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 46px;
    padding-bottom: 40px;
}

.header__description {
    margin: 0;
    padding-left: 30px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header__phone {
    position: relative;
    display: inline-block;
    padding: 7px 45px 8px 74px;
    margin-bottom: 3px;

    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    outline: 3px solid var(--basic-white);
    outline-offset: -3px;
}

.header__phone::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;
    width: 18px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
}

.header__adress {
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--light-blue);
    margin: 0;
}

/*Пользовательский блок */

.account {
    display: flex;
    justify-content: flex-end;
}

.account__link {
    position: relative;

    display: block;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 21px;
    line-height: 21px;
    
    color: var(--basic-black);
    background-color: var(--basic-white);
    
}

.account__link:hover:not(.account__link--username) {
    color: var(--basic-red);
}

.account__link:active {
    color: var(--light-grey);
}

.account__link--login {
    padding-left: 45px;
    padding-right: 27px;
    margin-right: 10px;
}

.account__link--register {
    padding-left: 24px;
    padding-right: 24px;
}

.account__link--username {
    padding-left: 57px;
    padding-right: 57px;
}

.account__link--username::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 17px;
    top: 14px;
    left: 16px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
}

.account__link--logout { 
    margin-left: -37px;
    margin-top: 13px;
    padding: 0;
    padding-right: 17px;
    width: 20px;
    height: 17px;
       
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    font-size: 0;
}


.user-navigation {
    display: flex;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    
}

.user-navigation__link {
    position: relative;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 16px;
    line-height: 18px;
    color: var(--light-blue);
}

.user-navigation__link--padding {
    padding-left: 30px;
}


.user-navigation__link--round::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 5px;
    height: 5px;
    background-color: var(--light-blue);
    border-radius: 50px;
}

.user-navigation__link:hover {
    color: var(--basic-red);
}


.user-navigation__link:active {
    color: var(--light-grey);
}

/* Site-navigation */

.header__navigation {
    background-color: var(--light-blue);
    box-shadow: inset 0px -5px 0px var(--basic-blue);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 25px;
    margin: 0;
    list-style: none;
  }

.site-navigation li {
    flex-grow: 1;
    text-align: center;
        
}

.site-navigation a {
    display: block;
    color: var(--basic-white);
    padding: 16px 28px 20px;
    
}

.site-navigation a:hover {
    background-color: var(--basic-blue);
}

.site-navigation a:active {
    background-color: var(--dark-blue);
    color: var(--transparent-white-50);
}

/* Button */

.button {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.button:hover {
    background-color: var(--dark-red);
}

.button:active {
    background-color: var(--extra-dark-red);
}

/* Offers */

.offers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
                        "materials tools technic"
                        "slider slider sale"
                        "slider slider delivery";

    padding-top: 59px;
    padding-bottom: 59px;
}

.offers__item {
    box-sizing: border-box;
    height: 123px;
    padding: 20px 30px 21px 23px;
}

.offers__item:first-child {
    background-color: var(--special-orange);
    grid-area: materials;
}

.offers__item:nth-child(2) {
    background-color: var(--special-cyan);
    grid-area: tools;
}

.offers__item:nth-child(3) {
    background-color: var(--special-lilac);
    grid-area: technic;
}

.offers__item:nth-child(4) {
    background-color: var(--special-lightgreen);
    grid-area: sale;
}

.offers__item:nth-child(5) {
    background-color: var(--special-orange);
    grid-area: delivery;
}

.offers__item-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.offers__button {
    width: 135px;

    background-color: var(--transparent-white-30);
}

.offers__button:hover {
    background-color: var(--transparent-light-grey-30);
}

.offers__button:active {
    background-color: var(--transparent-grey-30);
}

/* Slider */

.offers__slider {
    grid-area: slider;
}

.slider__slide {
    position: relative;
}
.slider__slide img {
    display: block;
}

.slide__description {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.slide__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}


.catalog-button {
    position: absolute;
    bottom: 27px;
    left: 24px;
}

/* Популярные товары */

.popular-goods__wrapper {
    padding-bottom: 70px;
}

.popular-goods__header,
.popular-brands__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--background-lightpink);
    padding-left: 28px;
    padding-right: 14px;
    
}

.section__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.popular-goods__title,
.popular-brands__title {
    padding-top: 29px;
    padding-bottom: 30px;
    margin-right: 30px;
    color: var(--light-blue);
}

.popular-goods__button,
.popular-brands__button {
    min-width: 192px;
    margin-top: 25px;
    margin-bottom: auto;
    white-space: nowrap;
    padding-top: 11px;
    padding-bottom: 9px;
    
}

.popular-goods__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

/*Карточка товара*/

.catalog-item-grid {
    display: grid;
    grid-template-rows: 180px auto 31px 38px;
}

.catalog__item {
    width: 220px;
    padding-bottom: 21px;

    outline: 1px solid var(--card-border-grey);
    outline-offset: -1px;
}

.catalog__item img {
    grid-row: 1 / 2;
    margin: auto;
}

.catalog__item-title { 
    grid-row: 2 / 3;
    margin: 0;
    padding: 0 30px 8px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
    text-align: center;
}

.price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.old-price {
    grid-row: 3 / 4;
    padding: 0 30px 13px;

    text-decoration-line: line-through;
    color: var(--basic-grey);
    text-align: center;
}

.actual-price {
    grid-row: 4 / 5;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Кнопки карточек */
.catalog-item-options {
    display: none;
}

.button-buy,
.button-bookmark {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.button-buy {
    color: var(--basic-white);
    background-color: var(--basic-green);
}

.button-buy:hover {
    background-color: var(--bright-green);
}

.button-buy:active {
    background-color:var(--dark-green);
}

.button-bookmark {
    color: var(--light-blue);
    border: 3px solid var(--basic-green);
}

.button-bookmark:hover {
    border-color: var(--light-blue);
}

.button-bookmark:active {
    opacity: 0.5;
}

/* Popular brans */

.popular-brands__wrapper {
    padding-bottom: 70px;
}

.popular-brands__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    list-style: none;
}

.popular-brands__item {
    width: 220px;
    height: 145px;
    outline: 1px solid var(--card-border-grey);
    outline-offset: -1px;
}

/* Services */

.services {
    background-color: var(--background-lightgrey);
}

.services__wrapper {
    padding-top: 64px;
    padding-bottom: 99px;
}

.services__title,
.about__title,
.contacts__title {
    margin-bottom: 25px;
    color: var(--basic-black);
}

.text-content {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: var(--basic-black);
}

.services__lead {
    margin-top: 0;
    margin-bottom: 71px;
}
/* Grid for Services*/


.services__tabs {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 
                    61px
                    61px
                    61px;
    row-gap: 1px;
}

.services__tabs--delivery {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.services__tabs--guarantee {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.services__tabs--credit {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/* Стили вкладок */
.services__tabs label {
    padding-top: 13px;
    padding-left: 22px;
     
    
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--light-blue);
    color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-blue),
                inset 0px 1px 0px var(--services-shadow-blue);
}

.services__tabs label:hover {
    background-color: var(--basic-blue);
    cursor: pointer;
}

.services__tabs input:checked + label {
    color: var(--light-blue);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white),
    inset 0px 1px 0px var(--basic-white);
}

.services__tabs input {
    display: none;
}

/* Стили содержания вкладок */

.services__tab-content {
    display: none;
    padding-left: 80px;
}

.services__tab-content h3 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--light-blue);
}

.services__tab-content p {
    width: 330px;
}

.services__tab-content-3 p {
    margin-bottom: 26px;
}

/* Активация вкладки */
    #tab-1:checked ~ .services__tab-content-1,
    #tab-2:checked ~ .services__tab-content-2,
    #tab-3:checked ~ .services__tab-content-3 {
    display: block;
}

.index-columns__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}


/* About */

.about {
    grid-column: 1 / 7;
}

.about__lead {
    margin: 0;
    margin-bottom: 25px;
}

.transport-companies__lead {
    margin: 0;
    margin-bottom: 3px;
}

.transport-companies__list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    

    list-style: none;
    color: var(--basic-black);
}

.transport-companies__item {
    padding-left: 37px;
    margin-bottom: 12px;
}

.transport-companies__item:last-child {
    margin-bottom: 0;
}

.about__button {
    
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;

}

/* Contacts*/

.contacts {
    grid-column: 9 / 13;
}

.contacts__lead {
    margin: 0;
    margin-bottom: 32px;
}

.contacts__map {
    display: block;
    margin-bottom: 18px;
}

.contacts__map img {
    width: 300px;
    height: 158px;
}

.contacts__button {
    width: 100%;
}

/* Footer */

.footer__top {
    background-color: var(--light-blue);
    padding-bottom: 55px;
}

.footer__top-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 220px;
    height: 68px;
    line-height: 74px;
    text-align: center;

    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer__contacts,
.footer__phone {
    color: var(--background-lightgrey);
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 550px;
    list-style: none;
}

.footer__nav--site {
    margin-top: 37px;
}

.footer__nav--shop {
    margin-top: 27px;
}

.footer__nav li {
    margin-right: 59px;
}

.footer__nav li:last-child {
    margin-right: 0;
}

.footer__nav--site a {
    color: var(--background-lightgrey);
}

.footer__nav--shop a {
    color: var(--light-orange);
}

.footer__nav a:hover {
    text-decoration-line: underline;
}

.footer__nav a:active {
    text-decoration-line: none;
    opacity: 0.5;
}

.footer__contacts {
    margin-top: 22px;
    margin-bottom: 0;
}

.footer__bottom {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-blue);
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    margin: 0;
    min-width: 270px;
}

.footer__link {
    color: var(--light-orange);
}

.footer__link:hover {
    text-decoration-line: underline;
}

.footer__link:active {
    text-decoration-line: none;
    color: var(--basic-red);
}

.footer__social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social__item {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--footer-icon-blue);
}

.social__link {
    position: relative;
    color: var(--basic-white);
  }
  
  .social__item:hover,
  .social__item:active {
    background-color: var(--basic-red);
  }

.social__link--vk::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 26px;
    height: 15px;
    background-image: url(../img/social__icon-vk.svg);
    background-repeat: no-repeat;
}

.social__link--fb::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 26px;
    height: 15px;
    background-image: url(../img/social__icon-fb.svg);
    background-repeat: no-repeat;
}

.social__link--ig::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 26px;
    height: 15px;
    background-image: url(../img/social__icon-ig.svg);
    background-repeat: no-repeat;
}

.footer__feedback {
    display: flex;
}

.footer__feedback p {
    margin: 0;
}

/* Стили для внутренней страницы каталога */

.catalog__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 20px;
    padding-bottom: 59px;
    grid-template-areas: "breadcrumbs   breadcrumbs"
                        "catalog-header catalog-header"
                        "filter         sorting"
                        "filter         catalog"
                        "   .           pagination" ;
        
}

.breadcrumbs__list {
    grid-area: breadcrumbs;
    list-style: none;
    padding: 18px 0 17px;
    margin: 0;
    display: flex;
}

.breadcrumbs__list li {
    margin-right: 40px;
}

.breadcrumbs__list a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--basic-black);
}

.catalog__header {
    background-color: var(--background-smokewhite);
    padding: 30px;
    margin-bottom: 20px;
    grid-area: catalog-header;
}

.catalog__title {
    color: var(--light-blue);
}

.filter {
    background-color: var(--background-lightrose);
    grid-area: filter;
}

.filter__title,
.sorting__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.sorting {
    grid-area: sorting;

    display: flex;
    justify-content: space-between;
    padding: 10px 19px;
    margin-bottom: 28px;

    background-color: var(--background-lightrose); 
}

.sorting__options-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.sorting__option {
    text-transform: uppercase;
    color: var(--transparent-black-30);
    border-bottom: 1px dashed var(--basic-red);
}

.sorting__option:hover {
    color: var(--basic-black);
    border-bottom-style: solid;
}

.sorting__option:active {
    color: var(--basic-red);
    border-bottom: none;
}

.arrow,
.arrow:hover {
    border-bottom: none;
}

.catalog__list {
    grid-area: catalog;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 0 48px 0;
    padding: 0;
}

.pagination__list {
    grid-area: pagination;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding: 0;

    list-style: none;
}

.page-button {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 10px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
    
    outline: 1px solid var(--light-grey);
    outline-offset: -1px;
}

.page-button--next {
    width: 140px;
}

.page-button:hover {
    border-color: var(--light-grey);
}

.page-button:active {
    border: var(--basic-red);
}

.page-button--current {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.about-goods {
    background-color: var(--background-lightgrey);
}

.about-goods__wrapper {
    padding-top: 65px;
    padding-bottom: 69px;
}

.about-goods__title {
    color: var(--basic-black);
    margin-bottom: 25px;
}

.about-goods p {
    margin: 0;
}